@font-face {
  font-family: "Vollkorn-Regular";
  src: local("Vollkorn-Regular"), url("./fonts/Vollkorn-Regular.woff") format("woff"),
    url("./fonts/Vollkorn-Regular.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "Vollkorn-Regular" -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  width: 100%;
}


.hidden {
  display: none;
}